/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

body {
  background: #EEEEEE; }

.circle {
  background: #0000EE;
  width: 60px;
  height: 60px;
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s; }
  .circle :hover {
    border-radius: 25%;
    opacity: 0.6; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

.btn-danger {
  background-color: #FF0000;
  border-color: #FFFFFF; }
  .btn-danger:hover {
    opacity: 0.8; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

.btn-danger {
  background-color: #FF0000;
  border-color: #FFFFFF; }
  .btn-danger:hover {
    opacity: 0.8; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

.btn-danger {
  background-color: #FF0000;
  border-color: #FFFFFF; }
  .btn-danger:hover {
    opacity: 0.8; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

.btn-danger {
  background-color: #FF0000;
  border-color: #FFFFFF; }
  .btn-danger:hover {
    opacity: 0.8; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

.btn-danger {
  background-color: #FF0000;
  border-color: #FFFFFF; }
  .btn-danger:hover {
    opacity: 0.8; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


@charset "UTF-8";
/*
 * Buttons

 * 標準的なボタンとして使用する。<br>
 * 特徴的な条件のない、普通のフォームやページ内でユーザーに<br>
 * アクションを求める場面でサイト内の多くの場所で用いる。
 *
 * Markup:
 * <button class="btn">Button</button>
 * <button class="btn {$modifiers}">Button</button>
 *
 * .btn-primary - primary blue.
 * .btn-success - success green.
 * .btn-danger - danger red.
 *
 * Styleguide 1.0
 */
/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

.btn-danger {
  background-color: #FF0000;
  border-color: #FFFFFF; }
  .btn-danger:hover {
    opacity: 0.8; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


@charset "UTF-8";
/*
 * Buttons
 *
 * 標準的なボタンとして使用する。<br>
 * 特徴的な条件のない、普通のフォームやページ内でユーザーに<br>
 * アクションを求める場面でサイト内の多くの場所で用いる。
 *
 * Markup:
 * <button class="btn">Button</button>
 * <button class="btn {$modifiers}">Button</button>
 *
 * .btn-primary - primary blue.
 * .btn-success - success green.
 * .btn-danger - danger red.
 *
 * Styleguide 1.0
 */
/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

.btn-danger {
  background-color: #FF0000;
  border-color: #FFFFFF; }
  .btn-danger:hover {
    opacity: 0.8; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


@charset "UTF-8";
/*
 * Buttons
 *
 * 標準的なボタンとして使用する。<br>
 * 特徴的な条件のない、普通のフォームやページ内でユーザーに<br>
 * アクションを求める場面でサイト内の多くの場所で用いる。
 *
 * Markup:
 * <button class="btn">Button</button>
 * <button class="btn {$modifiers}">Button</button>
 *
 * .btn-primary - primary blue.
 * .btn-success - success green.
 * .btn-danger - danger red.
 *
 * Styleguide 1.0
 */
/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

.btn-danger {
  background-color: #FF0000;
  border-color: #FFFFFF; }
  .btn-danger:hover {
    opacity: 0.8; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

.btn-danger {
  background-color: #FF0000;
  border-color: #FFFFFF; }
  .btn-danger:hover {
    opacity: 0.8; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

.btn-danger {
  background-color: #FF0000;
  border-color: #FFFFFF; }
  .btn-danger:hover {
    opacity: 0.8; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

.btn-danger {
  background-color: #FF0000;
  border-color: #FFFFFF; }
  .btn-danger:hover {
    opacity: 0.8; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

.btn-danger {
  background-color: #FF0000;
  border-color: #FFFFFF; }
  .btn-danger:hover {
    opacity: 0.8; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

.btn-danger {
  background-color: #FF0000;
  border-color: #FFFFFF; }
  .btn-danger:hover {
    opacity: 0.8; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }


/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #FFFFFF; }

.container {
  width: 1200px;
  margin: 0 auto; }

.btn-group {
  margin: 20px 0 0 0; }

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-primary:hover {
    background-color: #286090;
    border-color: #204D74; }

.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-success:hover {
    background-color: #449D44;
    border-color: #398439; }

/* margin padding reset */
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0; }

/* remove list point mark */
ul,
ol {
  list-style: none; }

/* remove border */
img {
  border: 0; }

/* remove descender */
img,
svg,
input,
select,
textarea,
label {
  vertical-align: middle; }

/* set collapse */
table {
  border-collapse: collapse; }

/* off bold */
h1, h2, h3, h4, h5, h6, th, em, strong {
  font-weight: normal; }

/* break word for all elements */
*,
*:before,
*:after {
  word-break: break-all; }

pre {
  white-space: pre-wrap; }
