//
// Buttons
//
// 標準的なボタンとして使用する。
// 特徴的な条件のない、普通のフォームやページ内でユーザに
// アクションを求める場面でサイト内の多くの場所で用いる。
//
// .btn-primary - primary blue.
// .btn-success - success green.
//
// Markup:
// <button class="btn {$modifiers}">Button</button>
//
// Styleguide 1.0.0

@import "reset";
@import "color";

html,body {
  width: 100%;
  height: 100%;
}
body {
  background: $bgColor;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.btn-group {
  margin: 20px 0 0 0;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.btn-primary {
  background-color: #337AB7;
  border-color: #2E6DA4;
  &:hover {
    background-color: #286090;
    border-color: #204D74;
  }
}
.btn-success {
  background-color: #5CB85C;
  border-color: #4CAE4C;
  &:hover {
    background-color: #449D44;
    border-color: #398439;
  }
}