body {
  background: #000000; }

.headline {
  font-size: 24px;
  color: #FFF000; }

.detail {
  font-size: 12px;
  color: #00FF00; }

body {
  background: #000000; }

.headline {
  font-size: 24px;
  color: #FFF000; }

.detail {
  font-size: 12px;
  color: #00FF00; }

body {
  background: #000000; }

.headline {
  font-size: 24px;
  color: #FFF000; }

.detail {
  font-size: 12px;
  color: #00FF00; }

body {
  background: #000000; }

.headline {
  font-size: 24px;
  color: #FFF000; }

.detail {
  font-size: 12px;
  color: #00FF00; }

body {
  background: #000000; }

.headline {
  font-size: 24px;
  color: #FFF000; }

.detail {
  font-size: 12px;
  color: #00FF00; }

body {
  background: #000000; }

.headline {
  font-size: 24px;
  color: #FFF000; }

.detail {
  font-size: 12px;
  color: #00FF00; }
